{% extends 'worker_temp/worker_home.html' %}
{% block content %}

<main class="h-full pb-16 overflow-y-auto" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="card-body">
          <div class="container grid px-6 mx-auto">
            <h2
              class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
            >
              appointment view
            </h2>
            <!-- CTA -->

            <!-- With avatar -->

            <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr
                      class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                    >
                      <th class="px-4 py-3">worker name</th>
                      <th class="px-4 py-3">date</th>
                        <th class="px-4 py-3">start time</th>
                      <th class="px-4 py-3">end time</th>
                        <th class="px-4 py-3">appointment</th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                  {% for i in appointment %}
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->

                          </div>
                          <div>
                            <p class="font-semibold">{{i.schedule.worker}}</p>

                          </div>
                        </div>
                      </td>

                      </td>
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->

                          </div>
                          <div>
                              <p class="font-semibold">{{i.schedule.date}}</p>

                          </div>
                        </div>
                      </td>
                      <td>
                          <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->

                          </div>
                          <div>
                              <p class="font-semibold">{{i.schedule.start_time}}</p>

                          </div>
                      </td>
                       <td>
                          <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->

                          </div>
                          <div>
                              <p class="font-semibold">{{i.schedule.end_time}}</p>

                          </div>
                      </td>
                        <td>
                          <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->

                          </div>
                          <div>
                              {% if i.status == 0 %}
                        <button type="button" class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Approval Pending</button>
                        {% elif i.status == 1 %}
                        <button type="button" class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Appointment Confirmed</button>
                         {% else %}
                        <button type="button" class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-purple">Rejected</button>
                              {% endif %}
                          </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
         </div>
  </div>
</main>


{% endblock %}